body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}
  
.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
header {
    text-align: center;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}
  
header h1 {
    margin: 0;
    font-size: 2em;
}
  
section {
    margin-bottom: 20px;
}
  
h2 {
    color: #0056b3;
    /* margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px; */
}
  
ul {
    list-style: none;
    padding-left: 0;
}
  
.skills li {
    background: #e7f1ff;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 5px;
}